


// Define variables
$primary-color: hsl(53, 76%, 52%);
$secondary-color: #121313;

.myWebPartContainer {
  background-color: $primary-color;
   padding: 20px;
   border-radius: 5px;
   color: $secondary-color;
 }

 @mixin box-shadow($level) {
  box-shadow: 0 0 #{$level * 2}px rgba(0, 0, 0, 0.1);
}

// Usage of mixin
.myCard {
  @include box-shadow(10);
}

.box{
  h1{
     font-size: 25px;
     color:#E45456;
  }
  
  p{
     font-size: 25px;
     color:#3C7949;
  }
}